<ion-header>
  <ion-toolbar>
    <ion-title>Edit Quote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating" >Person</ion-label>
      <ion-input formControlName="person" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Quote Text</ion-label>
      <ion-textarea rows="3" formControlName="text" ></ion-textarea>
    </ion-item>
  </form>
  <ion-button [disabled]="form.status==='INVALID'" (click)="onSubmit()" fill="outline">Update</ion-button>
  <ion-button fill="outline" [routerLink]="['/home']" color="danger">Cancel</ion-button>
</ion-content>
